2to3==1.0
absl-py==0.12.0
AnyQt==0.0.13
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
attrs==21.2.0
audioread==2.1.9
autopep8==1.5.7
backcall==0.2.0
baycomp==1.0.2
bleach==3.3.0
Bottleneck==1.3.2
Brotli==1.0.9
CacheControl==0.12.6
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chart-studio==1.1.0
click==8.0.0
colorlover==0.3.0
commonmark==0.9.1
cufflinks==0.17.3
cycler==0.10.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==4.4.2
defusedxml==0.7.1
dictdiffer==0.8.1
distlib==0.3.1
Django==3.2.4
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
Flask==2.0.0
Flask-Compress==1.9.0
future==0.18.2
google-api-core==1.26.3
google-api-python-client==2.4.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gunicorn==20.1.0
h11==0.12.0
httpcore==0.12.3
httplib2==0.19.1
httpx==0.16.1
idna==2.10
importlib-metadata==4.0.1
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==23.0.1
keyrings.alt==4.0.2
kiwisolver==1.3.1
librosa==0.8.1
llvmlite==0.36.0
lockfile==0.12.2
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mediapipe==0.8.5
mistune==0.8.4
msgpack==1.0.2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.0
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
openpyxl==3.0.7
openTSNE==0.6.0
orange-canvas-core==0.1.20
orange-widget-base==4.13.0
Orange3==3.28.0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pbr==5.6.0
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.14.3
pooch==1.4.0
praat-parselmouth==0.4.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.17.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.17.3
python-dateutil==2.8.1
python-louvain==0.15
pytz==2020.5
PyYAML==5.4.1
pyzmq==22.0.3
qasync==0.16.0
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rfc3986==1.5.0
rsa==4.7.2
scikit-learn==0.24.0
scipy==1.6.0
Send2Trash==1.5.0
serverfiles==0.3.1
six==1.15.0
sniffio==1.2.0
SoundFile==0.10.3.post1
sqlparse==0.4.1
stevedore==3.3.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.4
virtualenv==20.4.6
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
xlrd==2.0.1
XlsxWriter==1.4.3
zipp==3.4.1
